.cart-item {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px #e0e0e0;
    margin-bottom: 1rem;
}

.product-image {
    width: 17%;
}

.product-details {
    margin-left: 2rem;

    div {
        text-transform: uppercase;
        letter-spacing: 0.75px;
        margin-bottom: 1rem;
    }

    .product-name {
        font-weight: 500;
    }
}

.cart-details {
    flex: 1;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .product-amount-container {
        display: flex;
        align-items: center;
        margin-left: auto;

        .product-amount {
            margin-left: 3rem;
            margin-right: 3rem;
            font-weight: 500;
            font-size: 1.4rem;

        }

    }
    .price {
        display: flex;
        margin-left: 10rem;
        font-weight: 500;
        font-size: 1.4rem;
        margin-left: auto;

    }
}



