.img-large {
  min-width: 70%;
}

.product-img-col {
  width: 25%;
}

.product-img-thumbnail {
  border-radius: 0;
}

.thumbnail {
  background-color: #fff !important;
}

.product-details-col {
  margin-top: 2rem;
}

.product-details {
  margin-left: 0.3rem;
}

.product-price {
  margin-top: 1rem;
}

.list-group-item {
  border: none;
}

.cart-card {
  margin-left: 1rem;
  border: none;
}

.product-description {
  margin-top: 2rem;
}

.add-to-cart-btn {
  width: 40%;
  margin-top: 0.5rem;
}
