.cart-title {
    font-size: 28px;
    margin-bottom: 3rem;
}

.cart-info-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
}

.cart-items {
    margin-right: 5rem;
}

.order-summary-container {
    margin-top: 3rem;
}