.sign-in-form {
    width: 50vh;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }
}

.register-form {
    width: 50vh;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

}