div {
    margin: 0rem;
}

.main-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media only screen and (max-width: 1308px) {
    .main-content-wrapper {
        max-width: 100vh;
    }  
}
