.cart-img-thumbnail {
  max-width: 70%;
}

.cart-product-name {
  font-weight: 500;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.cart-product-qty {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 500;
}

.cart-product-price {
  font-weight: 500;
}

.hr.solid {
  border-top: 3px solid #bbb;
}

.cart-subtotal {
  margin-top: 0.5rem;
  margin-left: 2rem;
}
