.header {
  margin-top: 5rem;
  margin-bottom: 3rem;

  .header-top-wrapper {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
  }

  .search-bar, .account-link {
    flex: 1;
    display: flex;
    font-size: 12px;
  }

  .logo-img {
    width: 26rem;
    height: auto;
    margin-right: 25rem;
  }

.header-bottom-wrapper {
display: flex;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
flex-direction: row;
justify-content: center;

.header-link {
  font-size: 12px;
  font-weight: 500;
  word-spacing: 0.2rem;

  &:not(:last-child) {
      margin-right: 2rem;
  }

  &:hover {
      text-decoration: underline solid 2px lightgray;
      }
    }
  }
}